* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 134px;
  background: #edf2ec;
}

.section-welcome {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 532px;
  background: #edf2ec;
}

.section-welcome__img {
  width: 449px;
  height: 407px;
}

.section-welcome__text {
  width: 549px;
  height: 340px;
}

.section-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1440px;
  height: 666px;
  background: #ffffff;
}

.section-about__text {
  width: 605px;
  height: 350px;
}

.section-about__img {
  width: 464px;
  height: 479px;
}

.section-service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1440px;
  height: 1300px;
  background: #edf2ec;
}

.section-service__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1007px;
  height: 94px;
}

.section-service__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1222px;
  height: 955px;
}

.section-service__title_green {
  width: 306px;
  height: 94px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.section-service__buttons {
  display: flex;
  justify-content: space-between;
  width: 559px;
  height: 50px;
}

.button_orange {
  border: 1px solid #e06733;
  border-radius: 5px;
  width: 161px;
  height: 50px;
  text-align: center;
  background: #edf2ec;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.section-service__item {
  width: 330px;
  height: 450px;
}

.item__text {
  margin: 0;
  width: 330px;
  height: 100px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
}

.item__title_orange {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
}

.item__paragraph {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.item__img {
  margin: 0;
  border-radius: 20px 20px 0px 0px;
  width: 329px;
  height: 350px;
}

.section-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  height: 560px;
  background: #ffffff;
}

.section-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1440px;
  height: 550px;
  background: #edf2ec;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1222px;
  height: 130px;
  background: #ffffff;
}
.footer__data-git {
  display: flex;
  justify-content: space-between;
  width: 169px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 183px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 452px;
  list-style: none;
}
