* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 134px;
  background: #edf2ec;
}






.section-welcome {
  display: flex;
  justify-content: space-around;

  height: 532px;
  background: #edf2ec;
}

.section-welcome__img {
  width: 449px;
  height: 407px;
}

.section-welcome__text {
  width: 549px;
  height: 340px;
}






.section-about {
  display: flex;
  width: 1440px;
  justify-content: space-around;
  height: 666px;
  background: #ffffff;
}




.section-service {
  height: 1300px;
  background: #edf2ec;
}

.section-prices {
  height: 560px;
  background: #ffffff;
}

.section-contacts {
  height: 550px;
  background: #edf2ec;
}

.footer-container {
  height: 130px;
  background: #ffffff;
}

.footer {
  height: 130px;
  background: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 452px;
  list-style: none;
}

