@font-face {
  font-family: BebasNeue-Regular;
  src: url("assets/fonts/BebasNeue-Regular.ttf");
}

* {
  box-sizing: border-box;
}

.header {
  border: 1px solid red;
}

.main {
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-item {
  padding: 0 60px;
}

html {
  scroll-behavior: smooth;
}
